*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*text-align: right;*/
}
body{
    font-family: sans-serif;
}
nav{
    width: 100%;
    background: white;
    padding: 5px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a{
    display: block;
}
.logo a{
    font-size: 25px;
    font-weight: bold;
    font-family: "Noto Nastaliq Urdu";
}
.menu{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}


.toggle{
    order: 1;
}
.logo{
    order: 2;
}
.nav-item{
    width: 100%;
    text-align: center;
    display: none;
    border-bottom: 1px gray solid;
}
#last-item{
    border-bottom: none;
}
#active-site a{
    color: white;
}

.navbar .nav-item:hover{
    background:lightgray;
}
#active-site{
    background: gray;
}
.navbar .nav-item a:hover{
    color: white;
    font-style: bold;
}

.nav-item.active {
    display: block;
}


.toggle{
    cursor: pointer;
}

.bars{
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
}
.bars::before,.bars::after{
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    width: 18px;
    position: absolute;
    left: 0;
}
.bars::before{
    top: 5px;
}
.bars::after{
    top: -5px;
}

@media (min-width: 767px){
    .nav-item{
        display: block;
        width: auto;
        order: 1;
        border-bottom: none;
        justify-content: center;
        border-right: 1px solid gray;
        padding: 20px 20px 20px 20px;
    }
    .toggle{
        display: none;
    }
    .logo{
        margin-left: auto;
        order: 3;
    }
    .menu li{
        padding: 15px 10px;
    }
    
}
